/* The Basics */
html, body {
	height: 100%;
	width: 100%;
}

html {
	font-size: 16px;
}

body {
	line-height: 1;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	overflow-y: scroll;
	color: #444;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {

}

nav a {
	text-decoration: none;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
  margin-bottom: 20px;
}

h1 {
  margin-top: 0;
  font-size: 6.854rem;
}

h2 {
	font-size: 4.236rem;
	margin-top: 0;
	opacity: 0.9;
}

h3 {
	font-size: 2.618rem;
	opacity: 0.8;
}

h4 {
	font-size: 1.618rem;
	opacity: 0.7;
}

p {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
}

a {
	text-decoration: none;
	color: #1195AA;
}

code {
	overflow: auto;
	display: block;
	font-family: Courier, monospace;
	padding: 0 10px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(51,51,51, 0.25);
	white-space: pre;
}

ul li {
	margin-right: 20px;
	display: inline;
	float: left;
}

hr {
	border: none;
	border-bottom: 1px solid rgba(68,68,68,0.25);
	clear: both;
	margin: 20px 0 19px 0;
	width: 100%;
}

/* Forms and Login */
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password],
input[type=date],
select {
	background: #FFF;
	background-clip: padding-box;
	border: #AAA 1px solid;
	border-top: #777 1px solid;
	border-radius: 4px;
	display: block;
	font-size: 1rem;
	height: 40px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}

select {
	background-image: url('data:image/gif;base64,R0lGODlhFAAUALMAAP////r6+vT09O3t7eTk5Nvb29nZ2dbW1tTU1NHR0c/Pz6Skq5qaolVVYgAAAAAAACH5BAEHAAAALAAAAAAUABQAAARHEMhJaw02W6G7HNrCdES2NM2YFdaJpplRuS9cHRRd2xPidYmfRiHMBIsV30RXU01wuR1vIps1VyaUs1IybSsgJIUjnmDKkggAOw==');
	background-position: center right;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
select:focus {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(17, 149, 170, 0.35);
	box-shadow: 0px 0px 10px 0px rgba(17, 149, 170, 0.35);
	border: #1195AA 1px solid;
	outline: 0;
}

label, .label {
	overflow: hidden;
	border: none;
    border-radius: 4px;
    color: #222;
    float: left;
	font-size: 1rem;
	line-height: 20px;
	margin: 0;
	margin-right: 10px;
    padding: 10px 20px 10px 20px;
	text-align: center; 
    text-decoration: none;
	width: 100%;
	background-color: #FFF;	
}

button, .button, input[type=submit] {
	overflow: hidden;
	border: none;
    border-radius: 4px;
    color: white;
    float: left;
	font-size: 1rem;
	line-height: 20px;
	margin: 0;
	margin-right: 10px;
    padding: 10px 20px 10px 20px;
	text-align: center; 
    text-decoration: none;
	width: 100%;
	background-color: #777;
}

.button_default {
	background-color: #00aa63;
}

#auth_lf {
	overflow: hidden;
	width: 100%;
}

#auth_lf .auth_welcome {

}

#auth_lf .auth_welcome a  {
	margin-left: 20px;
}

#auth_lf .auth_login {
	
}

#auth_lf .auth_login a {
}

#auth_lf .auth_links {
    padding-top: 8px;
	
}

/*Tables */
.table {
    width: 100%;

}

.table th {
    font-weight: bold;
    padding: 0.618rem;
    border: 1px solid #AAA;

}

.table td {
    padding: 0.618rem;
    border: 1px solid #AAA;

}

/* Custom */

/*Userbar*/
.userbar {
	font-size: 1.3rem;
}

.userbar a {
	display: block;
	padding: 15px 0;
	color: #AAA;
	transition: color 0.25s;
}

.userbar a:hover {
	color: #fff;
}

#admin_greeting {
	margin-top: 15px;
	margin-right: 15px;
}

/* Mobile */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	html {
		font-size: 16px;
	}
	button, .button, input[type=submit] {
		padding: 20px 15px;
	}
	/* Forms and Login */
	input[type=text],
	input[type=url],
	input[type=tel],
	input[type=number],
	input[type=color],
	input[type=email],
	input[type=password],
	input[type=date],
	select {
		padding: 30px 15px;
	}
	.lf_login {
		padding: 0 15px;
	}
}