/*Userbar*/
.userbar {
	font-size: 1.3rem;
}

.userbar a {
	display: block;
	padding: 15px 0;
	color: #AAA;
	transition: color 0.25s;
}

.userbar a:hover {
	color: #fff;
}

#admin_greeting {
	margin-top: 15px;
	margin-right: 15px;
}