nav {
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul ul {
    display: none;
}

    nav ul li:hover > ul {
        display: block;
    }


nav ul {
    margin: 0;
    font-weight: bold;
    padding: 0 0; 
    
    list-style: none;
    
    position: relative;
    
}
nav > ul {
    margin: 0;
}
nav ul:after {
    content: ""; 
	clear: both; 
	display: block;
}

nav ul li {
	float: left;
}
li.active {
    background-color: #333;
}
li.active:hover {
    background-color: #333;
}
li.active a {
    color: #fff;   
}
nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
nav ul li:hover a {
}
nav ul li a {
	display: block; 
	padding: 20px 30px;
	color: #757575; text-decoration: none;
}
nav ul ul {
	background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
nav ul ul li {
	float: none; 
}
nav ul ul li a {
	padding: 10px 40px;
	color: #fff;
	}	
nav ul ul li a:hover {
	background-color: rgba(250, 250, 250, 0.6);
}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}