a {
    text-decoration: none;
}
h1 { padding: 0px; float: left;}
h3 {
    color: #21759B;
}
h4 {
    color: #66CD00;
}
body {
    overflow-y: scroll;
    margin:  0;
    background-color: #E6E6E6;
}
footer {
    margin: auto auto;
    padding: 1rem;
}
footer .footer-credits {
    text-align: center;
}
header {
    color: #515151;
    margin: auto auto;
    padding-top: 1.5rem;   
    height: 70px;
}/*
nav {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    margin: auto auto;
}
nav li {
    list-style-type: none;
}*/

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    font-family: arial;
    padding: 0 3rem;
}
.content {
    margin: auto auto;
}

#_auth { text-align: right; margin-left: 100px; margin-top: 30px; }
#_auth ul { list-style: none; }
#_auth ul li { display: inline; }
