@font-face {
    font-family: ubuntu;
    font-weight: normal;
    src: url('../includes/fonts/Ubuntu-L.ttf');
}
a {
    color: #0063aa;
    text-decoration: none;
}
h1 {
    margin:  0;
    padding: 0;
}
h3 {
    color: #21759B;
}
h4 {
    color: darkgrey;
}
body {
    font-family: ubuntu;
    /* min-height: 100%; */
    width: 100%;
    /* position: absolute; */
    overflow-y: scroll;
    margin:  0;
    background-color: #333;
    color: #222;
}
iframe[src="about:blank"]
{
    display:none;
}
footer {
    margin: auto auto;
    padding: 1.5rem;
}
footer .footer-credits {
    height: 20px;
    color: lightgrey;
    text-align: center;
}
footer .footer-credits a {
    color: lightgray;
    
}
footer .footer-credits a:hover {
    color: #fff;
    
}
header {
    background-color: #333;
    color: #fff;
    padding: 0;   
}
header h1 {
    font-weight: normal;
    margin: 15px 0;
    float: left;   
}
header h1 a {
    color: #fff;   
}
header #_auth {
    padding: 20px 0;
   float: right;
}
header #_auth ul {
    margin: 0;
    list-style: none;
}
header #_auth ul li {
    display: inline;
}
header #_auth a {
    transition: background-color 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    padding: 20px 10px;
    color: lightgray;   
}
header #_auth a:hover {
    color: gray;
    background: #fff;
    
}
header #_auth input[type="text"],
header #_auth input[type="password"] {
    background-color: #eee;
    border-radius: 2px;
    border: 1px solid #bbb;
    padding: 5px;   
}
header #_auth input[type="submit"] {
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    background-color: gray;
    padding: 5px;
    border: 1px solid lightgray;
    transition: background-color 0.25s ease-in-out 0s, color 0.25s ease-in-out -1s;
}
header #_auth input[type="submit"]:hover {
    border-color: #00508F;
    background-color: #008FFF;   
}
header #download_box {
    padding: 30px;
    clear: both;
    width: 100%;  
}
header #download_box h2 {
    margin: 0 auto;
    width: 60%;
    font-weight: normal;
    font-size: 46px;
    text-align: center;
}
header #download_box #download_littlefoot {
    font-size: 22px;
    font-weight: lighter;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00aa63), to(#00884F));
    border: 1px solid #00884F;
    transition: color 0.5s ease-in-out 0s, background-color 0.5s ease-in-out 1s, border-color 0.5s ease-in-out 0s;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #00884F;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    display: block;
    width: 200px;
}
header #download_box #download_littlefoot:hover {
    /* background-color: #00BB6D; */
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#00BB6D), to(#00aa63)); */
    
}
header #info_box {
    padding: 30px;
    clear: both;
    width: 100%;
}
header #info_box h2 {
    margin: 0 auto;
    width: 60%;
    font-weight: normal;
    font-size: 46px;
    text-align: center;
}
header #info_box p {
    text-align: center;
    
}
.page_sizer {
    margin: auto;
    width: 70%;   
}
.container {
    background-color: #FFFFFF;
}
.userbar {
    color: #222;
    height: 40px;   
}
.userbar a {
    
}
.userbar a:hover {
    
}
.content {
    padding: 1.5rem;
    min-height: 400px;
    margin: auto auto;
}