Options -Indexes

#Rewrite (still works with /index.php/)
<IfModule mod_rewrite.c>

	RewriteEngine On

	# Change this to a /sub/folder/ if needed
	#RewriteBase /
	
	# ty http://www.zeilenwechsel.de/it/articles/8/Using-mod_rewrite-in-.htaccess-files-without-knowing-the-RewriteBase.html
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond $1#%{REQUEST_URI} ([^#]*)#(.*)\1$
	RewriteRule ^(.*)$ %2index.php [QSA,L]

	# Route all requests to index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]

</IfModule>
