@charset "utf-8";
/* CSS Document */

a { color: #DDD; text-decoration: none; }
a:hover { color: #FFF; text-decoration: underline; }
/*a:active { color: #A6F; text-decoration: strike; }*/
ul { list-style: none; padding: 0; margin: 0; }
textarea:focus, input:focus, textarea:hover, input:hover { background: #8BF !important; !important; }
input, select { background: #3460AC; color: #FFF; padding: 5px; }

html, body { padding: 0; margin: 0; }
body { font-family: Arial, Helvetica, sans-serif; background: #090909; color: #8BF; /*#3460AC;*/ }

#header { background: #000; color: #8BF; font-weight:bold; display: block; height: 30px; margin: 10px 0; border-top: #8BF 5px solid; border-bottom: #8BF 5px solid; }
#innerheader { background: #000; display: block; width: 800px; margin: 0 auto; height: 30px; margin-bottom: 5px; }
/* 
#header { background: #999; display: block; position: fixed; bottom: 0; left: 0; width: 100%; height: 40px; }
*/
  
h1 { float: left; margin: 0; padding: .125em; font-size: 18px; }
h1 a { color: #8BF; text-decoration: none; }
h4 { padding: 0; margin: 0; }
 
#login { float: right; font-size: 16px; padding: .25em; }

#toolbar { float: left;}
#toolbar ul { list-style: none; padding: .25em; margin: 0; }
#toolbar ul li { display: inline; }

#nav { float: left; width: 165px; }
#nav ul { padding: 7px; list-style: none;  } 

.inputsuggest { width: 300px; color: #AAA; margin: 10px; }
.date { font-size: 12px; }
.thread {/* background: #DDD; */padding: 10px; width: 500px; border-bottom: #DDD 1px solid; }
/*.thread ul { background: #966; list-style: none; margin: 0; margin-bottom: 10px; padding: 0; display: block; height: 300px;  width: 500px; overflow:auto; }*/

.t_head {/* background: #000; color: #fff;*/ padding: 5px; word-wrap: break-word }
.t_head { font-size: 12px; }
.t_head h4 a { font-size: 16px; }
.tlike { display: block }

.msg { list-style: none; margin: 0; padding: 5px; display: block; width: 480px; }
.msg li { /*background: #37C; */word-wrap: break-word; /*border-bottom: #000 1px solid; */padding: 5px; margin-bottom: 2px; }
.msg li:hover { background: #47B; color: #FFF; }
.msg li:hover a { text-decoration: underline; }
a.removethread, a.removepost { display: block; float: right; border: #000 1px dashed; /*border: #000 1px solid; background: #FFF;*/ font-size: 14px; padding: 2px 5px; }

.msg li form { display: none; }
.msg li:hover form { display: block; }

.msg_date { display: none; }
.msg a { font-size: 14px; }
.msg_body { display: block; width: 460px; }
.msg { font-size: 14px; }

#fl_add_user form { border: none; }

#content { margin: 0 200px; color: #8BF; }

.add_thread { background: none;/* border: #000 1px solid;*/ width: 500px; display: none }
.add_thread textarea { background: #222; color: #FFF; width: 480px; border: none; height: 40px; padding: 5px;  border: #000 1px solid; font-family: Arial, Helvetica, sans-serif; }
.add_thread input { background: #222; color: #777; width: 150px; padding: 5px; border: #000 1px solid; }
.add_thread .submit { display: block; background: #444; width: 150px; padding: 0; border: #000 1px solid; }
.add_thread span { display: block; padding: 8px 0 0 5px; float: left; }

.add_post { padding: 5px; width: 460px; margin-left: 5px; }
.add_post input { width: 360px; border: none; border-left: #000 5px solid; }
.add_post input:focus { width: 363px; border: #000 1px solid; }
.add_post select { border: none; margin-top: 5px; padding: 5px; }
.at { width: 100% !important; display: block; }
.add_post span { display: block; padding: 8px 0 0 5px; float: left; }
.add_post .submit { background: #3460AC; width: 70px; padding: 0; margin-left: 10px; padding: 5px; border: #000 1px dashed; }

.pending { border-left: 2px solid #99F }

#admin ul { margin-top: 10px; float: left; width: auto; overflow: auto; }
#admin form { float: right; overflow: auto; }
#admin form ul { float: right; overflow: auto; width: auto;  }
#admin li { margin-bottom: 10px;}
.functions { /*border-right: 1px solid #999;*/ margin-right: 5px;}
.functions a { background: #333; color: #999; padding: 2px 5px; }

#friendslist { float: right; display: block; width: 200px; padding-bottom: 10px; border-bottom: 1px #FFF solid; }
#friendslist ul { list-style: none; padding: 0; margin: 0;}
#friendslist h3 { margin: 0; }

#footer { clear: both; font-size: 10px; text-align: center; margin-top: 30px; }
#footer a { color: #000; text-decoration: none; }
#footer a:hover { text-decoration: underline; }