Options -Indexes

#Rewrite (still works with /index.php/)
<IfModule mod_rewrite.c>

RewriteEngine On

# Change this to a /sub/folder/ if needed
RewriteBase /

# Route all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

</IfModule>
