nav {
	margin-top: 10px;
	border-right: 1px solid rgba(200, 200, 200, 00.5);
	float: left;
	width: 170px;
	height: 100%;
}
nav > ul {
	margin-left: -40px;
}
nav li {
	list-style-type: none;
}
nav li ul {
    display: none;
}
nav li a {
	display: block;
	padding: 5px 5px 5px 25px;
	font-size: 20px;
}
nav li > a:hover {
    background-color: rgba(245, 245, 245, 0.5);
}
nav li.current > a {
	border-left: 4px solid #21759B;
	color: #1A457A;
}
nav li.current > ul {
	background-color: rgba(250, 250, 250, 0.5);
	border-bottom: 1px dotted rgba(200, 200, 200, 0.5);
	border-top: 1px dotted rgba(200, 200, 200, 0.5);
	margin-left: -40px;
	display: block;
}
nav li.current > ul li {
}
nav li.current > ul a {
	color: rgb(107, 107, 107);
	display: block;
}
nav li.current > ul a:hover {
	color: rgb(137, 137, 137);
}