* {
	transition: background-color 0.25s linear 0s,  border-color 0.25s linear 0s;
}
nav {
    overflow: auto;
    max-height: 90%;
    margin-top: 40px;
    position: fixed;
    margin-bottom: 10px;
    background-color: #333;
    float: left;
    width: 170px;
    border-radius: 0px 0px 2px 0px;
}
nav > ul {
	overflow-y: auto;
	max-height: 90%;
	padding: 0;
}
nav li {
    list-style-type: none;
}
nav li ul {
}
nav li a {
    transition:  none;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 10px 5px 10px 30px;
}
nav li > a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
}
nav > ul > li.current > a {
    color: #ffffff;
    background-color: #000;
}

nav li.current > ul {
}


nav li > ul li {
	background-color: rgba(240, 240, 240, 0.1);
    
    display: block;
}

nav li > ul li a {
    font-size: 18px;
    display: block;
}
nav li > ul li a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}
nav li > ul > li.current > a {
	/* text-decoration: underline; */
	/* border-right: 4px solid #0063aa; */
	background-color: #868686;
	/* font-weight: bold; */
    
}