
nav {
    border-right: 1px solid rgba(200, 200, 200, 0.5);
    float: left;
    height: 100%;
    width: 170px;
}
nav > ul {
	padding: 0;
}
nav li {
    list-style-type: none;
}
nav li ul {
    display: none;
}
nav li a {
    display: block;
    font-size: 20px;
    padding: 5px 5px 5px 25px;
}
nav li > a:hover {
    background-color: rgba(245, 245, 245, 0.5);
}
nav li.current > a {
    border-left: 4px solid #21759B;
    color: #1A457A;
}
nav li.current > ul {
    background-color: rgba(250, 250, 250, 0.5);
    border-bottom: 1px dotted rgba(200, 200, 200, 0.5);
    border-top: 1px dotted rgba(200, 200, 200, 0.5);
    display: block;
    margin-left: -40px;
}
nav li.current > ul li {
}
nav li.current > ul a {
    color: #6B6B6B;
    display: block;
}
nav li.current > ul a:hover {
    color: #898989;
}
