
* {
    margin: 0;
}
html {
    overflow-y: scroll;
}
a {
    color: #4A6382;
    text-decoration: none;
}
a#forgot {
    color: #F0F0F0;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}
a:hover {
    color: #1A457A;
}
h1 {
    color: rgba(20, 20, 20, 0.6);
    float: left;
    font-size: 26px;
    padding: 5px;
}
input:focus {
    outline: 0 none;
}
.login h1 {
    color: rgba(20, 20, 20, 0.6);
    font-size: 30px;
    padding: 0;
}
.login #recaptcha_widget_div {
    margin: 0 auto 15px;
    text-align: center;
}
.login .error {
    background: none repeat scroll 0 0 #FFAAAA;
    border: 3px solid #FF0000;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
}
h3 {
    color: #21759B;
}
h4 {
    color: #24AF68;
}
body {
    color: #444444;
}
footer {
    border-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 1rem;
}
footer .footer-credits {
    text-align: center;
}
header {
    color: #515151;
}
body.login {
    background-color: #888888;
}
div.loginbox {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background-color: rgba(10, 10, 10, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #777777;
    font-family: arial;
    left: 50%;
    margin-left: -160px;
    margin-top: -145px;
    padding: 15px;
    position: absolute;
    top: 50%;
    width: 320px;
}
div.loginbox h1 {
}
div.loginbox form {
    margin-top: 10px;
}
div.loginbox form label {
    color: #F0F0F0;
    font-size: 24px;
}
div.loginbox form input#username, div.loginbox form input#password {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background-color: rgba(100, 100, 100, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #BBBBBB;
    font-size: 22px;
    margin-bottom: 15px;
    padding: 5px 10px;
    transition: border-color 0.25s linear 0s;
    width: 100%;
}
div.loginbox form input#username:focus, div.loginbox form input#password:focus {
    border: 2px solid rgba(255, 255, 255, 0.3);
}
div.loginbox form button {
    background-color: #CCCCCC;
    border: medium none;
    border-radius: 2px;
    color: #555555;
    font-size: 25px;
    margin-bottom: 0;
    padding: 8px 40px;
    text-decoration: none;
    transition: background-color 0.25s linear 0s;
    width: 100%;
}
div.loginbox form button:hover {
    background-color: #EEEEEE;
}
div.loginbox a.whitelink {
    color: #FFFFFF;
}
div.loginbox a.whitelink:hover {
    color: #EEEEEE;
    text-decoration: underline;
}
.loginheader .logo {
    float: left;
}
.loginheader .bebas {
    float: right;
}
.container {
    background-color: #FFFFFF;
    font-family: arial;
}
.container .wrapper {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.content {
    margin-left: 200px;
    margin-right: 40px;
}
.small {
    font-weight: normal;
}
.clear {
    clear: both;
}
.userbar {
    background-color: #EFEFEF;
    box-shadow: 0 -1px 1px 0 #CCCCCC inset;
    color: #666666;
    font-family: arial;
    overflow: hidden;
    text-align: right;
}
.userbar a {
    color: #6A83A2;
}
.userbar a:hover {
    color: #1A457A;
}
.userbar #greeting {
    padding: 10px;
}
.dash-admin-app {
    background-color: #FAFAFA;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #AAAAAA;
    color: #444444;
    float: left;
    margin: 10px;
    padding: 15px;
    width: 350px;
}
.dash-admin-app > h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}
#app-apps {
    display: block;
}
#appgallery {
    border-radius: 3px;
    float: right;
    padding: 20px;
    width: 40%;
}
#appgallery form {
    box-shadow: 0 0 5px 0 #AAAAAA inset;
    margin: 10px 0;
    padding: 10px;
}
#appgallery li {
    list-style-type: none;
}
#appgallery > ul > li {
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #CCCCCC;
    display: block;
    float: left;
    margin: 5px;
}
#appgallery > ul > li:hover {
    background-color: rgba(245, 245, 245, 0.5);
}
#appgallery > ul > li a {
    font-size: 18px;
}
#appgallery > ul > li div.right_header a {
    font-size: 30px;
}
#actions {
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #AAAAAA;
    float: left;
    padding: 20px;
    width: 40%;
}
#actions li {
    list-style-type: none;
}
#actions > ol, #actions > ul {
    margin: 10px 0;
    padding: 10px;
}
#actions ol li ol {
    margin-left: -40px;
}
#actions > ol li, #actions > ul li {
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 2px 0 #CCCCCC;
    margin: 15px;
    padding: 10px;
}
#actions > ol li:hover, #actions > ul li:hover {
    background-color: rgba(250, 250, 250, 0.5);
}
#actions .selected {
    background-color: #DDDDDD !important;
}
ul.applist {
    margin-left: -40px;
}
#app-skins li {
    list-style-type: none;
}
#app-skins ul.applist {
    float: left;
    margin-top: 10px;
    width: 100%;
}
#app-skins ul.applist li {
    background-color: rgba(230, 230, 230, 0.5);
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #CCCCCC;
    float: left;
    margin: 5px;
    width: 90px;
}
#app-skins ul.applist li:hover {
    background-color: rgba(245, 245, 245, 0.5);
}
#app-skins ul.applist li {
    font-size: 18px;
}
#app-skins #inst_skins {
	float: right;
}
#app-skins #avail_skins {
	float: left;
}
#app-skins #inst_skin_form {
    margin: 10px 0;
}
#app-skins #avail_skin_form {
    margin: 10px 0;
}
#app-skins .left_header {
	float: left;
}
#app-skins .right_header {
	float: right;
}
#app-skins .left_header,
#app-skins .right_header {
	padding: 0 5px;
}
#app-skins .left_header a,
#app-skins .right_header a {
	font-size: small;
}
#app-skins .skin_page_container {
	margin: 10px 0;
}
#app-users ul {
    margin-left: -40px;
}
#app-users form ul li {
    list-style-type: none;
    margin-top: 10px;
}
#app-users li input {
    color: #555555;
}
#app-users li input:focus {
    color: #222222;
}
#app-users table {
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #CCCCCC inset;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
}
#app-users table th {
    color: #999999;
    padding: 5px;
}
#skin_nav {
    padding: 10px;
}
#skin_nav a {
    border-left: 5px solid rgba(33, 117, 155, 0.3);
    padding-left: 5px;
}
#skin_nav a.selected {
    border-left: 5px solid #21759B;
}
#skin_nav h3 a {
    border: medium none;
}
