
* {
    margin: 0;
	transition: border-color 0.25s linear 0s,
	background-color 0.25s linear 0s;
}
html {
    overflow-y: scroll;
}
a {
    color: #4A6382;
    text-decoration: none;
}
a#forgot {
    color: #F0F0F0;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}
a:hover {
    color: #1A457A;
}
input:focus {
    outline: 0 none;
}
.login h1 {
    color: rgba(20, 20, 20, 0.6);
    font-size: 30px;
    padding: 0;
}
.login #recaptcha_widget_div {
    margin: 0 auto 15px;
    text-align: center;
}
.login .error {
    background: none repeat scroll 0 0 #FFAAAA;
    border: 3px solid #FF0000;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
}
h1 {
    color: #21759B;
    float: left;
    font-size: 24px;
    padding: 5px;
}
h2 {
	font-size: 16px;
	color: #777777;
}
h3 {
    font-size: 14px;
    color: #21759B;
}
h4 {
    color: #24AF68;
}
ul, ol {
	padding-left: 0px;
}
body {
    color: #555555;
}
footer {
    background: #FFFFFF;
    border-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 1rem;
}
footer .footer-credits {
    text-align: center;
}
header {
    color: #888888;
}
body.login {
    background-color: #888888;
}
div.loginbox {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background-color: rgba(10, 10, 10, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #777777;
    font-family: arial;
    left: 50%;
    margin-left: -160px;
    margin-top: -145px;
    padding: 15px;
    position: absolute;
    top: 50%;
    width: 320px;
}
div.loginbox h1 {
}
div.loginbox form {
    margin-top: 10px;
}
div.loginbox form label {
    color: #F0F0F0;
    font-size: 24px;
}
div.loginbox form input#username, div.loginbox form input#password {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background-color: rgba(100, 100, 100, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #BBBBBB;
    font-size: 22px;
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
}
div.loginbox form input#username:focus, div.loginbox form input#password:focus {
    border: 2px solid rgba(255, 255, 255, 0.3);
}
div.loginbox form button {
    background-color: #CCCCCC;
    border: medium none;
    border-radius: 2px;
    color: #555555;
    font-size: 25px;
    margin-bottom: 0;
    padding: 8px 40px;
    text-decoration: none;
    width: 100%;
}
div.loginbox form button:hover {
    background-color: #EEEEEE;
}
div.loginbox a.whitelink {
    color: #FFFFFF;
}
div.loginbox a.whitelink:hover {
    color: #EEEEEE;
    text-decoration: underline;
}
.loginheader .logo {
    float: left;
}
.loginheader .bebas {
    float: right;
}
.container {
    background-color: #F8F8F8;
    font-family: arial;
}
.container .wrapper {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.content {
    padding: 0px 15px;
    margin-left: 170px;
}
.small {
    font-weight: normal;
}
.clear {
    clear: both;
}
.userbar {
    
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0px 1px #DDD;
    color: #DDDDDD;
    font-family: arial;
    overflow: hidden;
    text-align: right;
}
.userbar h1 a {
    color: #21759B;
}
.userbar h1 a:hover {
	color: #10648A;
}
.userbar #greeting {
    padding: 10px;
}
.userbar #greeting a {
    color: #6A83A2;
}
.userbar #greeting a:hover {
    color: #1A457A;
}
.dash-admin-app {
    background-color: #FAFAFA;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #AAAAAA;
    color: #444444;
    float: left;
    margin: 10px;
    padding: 15px;
    width: 350px;
}
.dash-admin-app > h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}
#app-dashboard {
	margin-bottom: 10px;
}
#app-dashboard #appgallery {
    width: 45%;
    margin-top: 10px;
    border-radius: 3px;
    float: right;
}
#app-dashboard #appgallery li {
    list-style-type: none;
}
#app-dashboard #appgallery div#new-app {
	border-radius: 2px;
    border-left: solid 3px #F0F0F0;
    
    
	padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0px #bbb;
    display: block;
    
	margin: 5px 0;
	overflow: auto;
}
#app-dashboard #appgallery div#new-app:hover {
	border-color: rgba(36, 175, 104, 0.5);
}
#app-dashboard #appgallery div#new-app form {
	font-size: 14px;
    padding: 5px;
}
#app-dashboard #appgallery div#new-app form div {
	float: left;
	margin: 10px 0;
	width: 275px;
}
#app-dashboard #appgallery div#new-app form div input{
}
#app-dashboard #appgallery div#new-app form div input[type="file"] {
	border: 1px solid #ddd;
	padding: 5px;
}
#app-dashboard #appgallery div#new-app form div input[type="submit"] {
	margin: 5px 0;
} 
#app-dashboard #appgallery div#new-app form div span{
	font-size: 13px;
}
#app-dashboard #appgallery > ul.applist {
	margin: 10px 0 10px 0;
	max-height: 455px;
	overflow: auto;
}
#app-dashboard #appgallery > ul.applist > li {
    border-radius: 2px;
    border-left: solid 3px #F0F0F0;
    min-height: 75px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0px #bbb;
    display: block;
    margin: 5px 0;
}
#app-dashboard #appgallery > ul.applist > li:hover {
    border-color: rgba(36, 175, 104, 0.5);
}
#app-dashboard #appgallery > ul.applist > li a {
    font-size: 18px;
}
#app-dashboard #appgallery > ul.applist > li div.left_header a {
    font-size: 20px;
}
#app-dashboard #appgallery .left_header {
	float: left;
}
#app-dashboard #appgallery .right_header {
	float: right;
}
#app-dashboard #appgallery .left_header,
#app-dashboard #appgallery .right_header {
	padding: 0 5px;
}
#app-dashboard #appgallery .left_header a,
#app-dashboard #appgallery .right_header a {
	font-size: small;
}
#app-dashboard #actions {
    width: 50%;
    margin-top: 10px;
    border-radius: 3px;
    float: left;
}
#app-dashboard #actions li {
    list-style-type: none;
}
#app-dashboard #actions > ol,
#app-dashboard #actions > ul {
    margin: 10px 0 10px 0;
}
#app-dashboard #actions > ol li, #actions > ul li {
    border-radius: 2px;
    border-left: solid 3px #F0F0F0;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0px #bbb;
    margin: 5px 0;
    padding: 10px;
}
#app-dashboard #actions > ol li:hover, #actions > ul li:hover {
    border-color: rgba(36, 175, 104, 0.5);
}
#app-dashboard #actions .selected {
}
#app-skins li {
    list-style-type: none;
}
#app-skins ul.applist {
    float: left;
    margin: 10px 0 10px 0;
}
#app-skins ul.applist li {
    background-color: #FFFFFF;
    border-top: 5px solid rgba(200, 200, 200, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #CCCCCC;
    float: left;
    margin: 5px;
	padding:  15px;
    min-height: 215px;
    width: 280px;
}
#app-skins ul.applist li:hover {
    border-color: rgba(36, 175, 104, 0.3);
}
#app-skins ul.applist li.current_skin {
	border-color: rgba(36, 175, 104, 1);
}
#app-skins #new_skins {
	background-color: #fff;
	padding: 15px;
}
#app-skins #new_skins h3 {
	margin-bottom: 5px;
}
#app-skins #new_skins h4 {
	border-top: 2px dashed #ddd;
	margin-top: 10px;
	padding-top: 10px;
}
#app-skins #new_skins #upload_skin_form  input[type="file"] {
	padding: 5px;
}
#app-skins #new_skins #upload_skin_form  input[type="submit"] {
	margin: 5px 0;
}
#app-skins #new_skins #upload_skin_form span{
	font-size: 13px;
}
#app-skins #create_skin_form {
    margin-top: 5px;
}
#app-skins #create_skin_form input[type="submit"] {
	margin: 5px 0;
}
#app-skins #create_skin_form #create_skin_namebox {
    width: 200px;
    padding: 3px;
    font-size: 14px;
}
#app-skins #upload_skin_form {
    margin-bottom: 10px;
}
#app-skins #upload_skin_form #upload_skin_file {
	width: 96%;
	border: 1px solid #ddd;
	margin: 5px 0;
}
#app-skins .left_header {
	float: left;
}
#app-skins .right_header {
	float: right;
}
#app-skins .left_header,
#app-skins .right_header {
	padding: 0 5px;
}
#app-skins .left_header a,
#app-skins .right_header a {
	font-size: small;
}
#app-users ul {

}
#app-users form ul li {
    list-style-type: none;
    margin-top: 10px;
}
#app-users li input {
    color: #555555;
}
#app-users li input:focus {
    color: #222222;
}
#app-users table {
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #CCCCCC inset;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
}
#app-users table th {
    color: #999999;
    padding: 5px;
}
#skin_nav {
    padding: 10px;
}
#skin_nav a {
    border-left: 5px solid rgba(33, 117, 155, 0.3);
    padding-left: 5px;
}
#skin_nav a.selected {
    border-left: 5px solid #21759B;
}
#skin_nav h3 a {
    border: medium none;
}