*
{ margin: 0;
  padding: 0;}

body
{ font-family: 'trebuchet ms', arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .80em;
  background: #333 ;
  color: #555;} 

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  padding: 0 0 5px 0;}

h1, h4
{ font: normal 175% "century gothic", arial;
  margin: 0 0 15px 0;
  padding: 15px 20px 5px 0;
  color: #444;}

h1 { font: normal 275% "century gothic", arial; color: #FFF; float: left !important; padding: 0; margin: 0; }
  
h2, h5
{ padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;
  letter-spacing: 0;}

h3, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: 0;
  padding: 0 0 15px 0;}

h4
{ color: #362C20;}

h5, h6
{ color: #129991;}

img
{ border: 0px; 
  margin: 0px; 
  padding: 0px;}

.left
{ float: left; 
  border-right: 20px solid #FFF;}

.right
{ float: right; 
  border-left: 20px solid #FFF;}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;}

blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border: 1px solid #E5E5DB;
  background: #F5F5F1;}

ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}

ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;}

a, a:hover
{ outline: none;
  border-bottom: 1px dotted;
  text-decoration: none;
  color: #444;}

a:hover
{ border-bottom: 1px solid;}

#logo, #menubar, #panel, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ /* background: url(back.png) repeat-x; background: #000; */margin-top: 30px; }

#logo
{ width: 870px;
  position: relative;
  height: 107px;}

#logo #logo_text 
{ position: absolute; 
  top: 15px;
  left: 0;}

#logo h1
{ font: normal 300% "century gothic", arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  padding: 12px 0 0 26px;
  color: #FFF;
  margin: 0;}

#menubar
{ width: 825px;
  height: 45px;
  padding-left: 5px;} 

#menubar > ul{float: right;margin: 0px;}

#menubar > ul li
{ float: left;
  margin: 7px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

#menubar > ul li a
{ font-size: 110%;
  display: block; 
  float: left; 
  height: 25px;
  border-bottom: 0;
  text-decoration: none; 
  padding: 8px 32px 5px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;} 

#menubar > ul li.tab_selected a
{ height: 25px;
  padding: 8px 32px 5px 26px;}

#menubar > ul li.tab_selected
{ /*margin: 7px 0 0 0;*/
  background: #FFF; /*transparent url(tabs.png) no-repeat 0 0px;*/}

#menubar > ul li.tab_selected a, #menubar > ul li.tab_selected a:hover
{/* background: url(tabs.png) no-repeat 100% 0px;*/
  color: #000;}

#menubar > ul li a:hover
{ color: #27C0FF;}

#panel
{ width: 792px;
  height: 154px;
  border: 15px solid #000;} 

#site_content
{ width: 875px;
  background: #FFF;
  overflow: hidden;  padding-top: 20px;} 

.sidebar
{ float: right;
  width: 178px;
  padding: 20px 25px 15px 15px;}

.sidebar ul
{ width: 178px; 
  padding-top: 4px; 
  margin: 4px 0px 30px 0px;}

.sidebar li
{ list-style: none; 
  padding: 0px 0px 4px 0px;}

.sidebar li a, .sidebar li a:hover
{ text-decoration: none; 
  padding: 0px 0px 0px 18px;
  display: block;
  background: transparent url(arrow.png) no-repeat left center;
  color: #555;
  border: none;} 

.sidebar li a.selected, .sidebar li a:hover, .sidebar li a.selected:hover
{ background: transparent url(arrow_select.png) no-repeat left center;} 

#content
{ text-align: left;
  width: 597px;
  padding: 20px 10px 15px 26px;}

#footer
{ width: 780px;
  height: 33px;
  padding: 20px 20px 4px 20px;
  margin-bottom: 20px;
  text-align: center; 
  background: transparent;
  color: #444;
  text-transform: uppercase;}

.alternate_colour
{ color: #27C0FF;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 4px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 210px; 
  height: 36px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 304px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ text-align: left;
  background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;}
  
table tr td
{ background: #CCCCCC;
  color: #47433F;
  border-top: 1px solid #FFF;}
  
  /* CUSTOM */
.add_thread { }
.add_thread textarea { width: 100%; height: 70px; }
.add_thread input { width: 150px; padding: 5px; border: #000 1px solid; }
.add_thread .submit { display: block; width: 150px; padding: 0; border: #000 1px solid; }
.add_thread span { display: block; padding: 8px 0 0 5px; float: left; }

.add_post { background: #DDD; /*border: #000 1px solid;*/ width: 100%; margin-left: 5px; }
.add_post input { width: 470px; border: none; margin: 7px; padding: 3px; background: #FFF; color: #777; }
.at { width: 100% !important; display: block; padding: 5px; color: #555; background: #DDD }
.add_post span { display: block; padding: 8px 0 0 5px; float: left; }
.add_post .submit { background: #EEE; width: 70px; padding: 0; border: #999 1px solid; }

.pending { border-left: 2px solid #99F }
.inputsuggest { width: 300px; color: #AAA; margin: 10px; }
.date { font-size: 12px; color: #777}
.thread {/* background: #DDD; */padding: 10px; width: 100%; border-bottom: #DDD 1px solid; }
/*.thread ul { background: #966; list-style: none; margin: 0; margin-bottom: 10px; padding: 0; display: block; height: 300px;  width: 500px; overflow:auto; }*/

.t_head {/* background: #000; color: #fff;*/ padding: 5px; word-wrap: break-word }
.t_head { font-size: 14px; }
.t_head h4 a { font-size: 16px; }
.tlike { display: block }

.msg { list-style: none; margin: 0; padding: 5px; display: block; width: 100%; }
.msg li { word-wrap: break-word; border-bottom: #DDD 1px solid; padding: 5px; margin-bottom: 2px; }
.msg li:hover { background: #CCC; }
a.removethread, a.removepost { display: none; float: right; border: #000 1px solid; background: #FFF; font-size: 14px; padding: 2px 5px; }
.msg li:hover a.removepost, .t_head:hover a.removethread { display: block; }

.msg li form { display: none; }
.msg li:hover form { display: block; }


.msg_date { display: none; }
.msg a { font-size: 14px; }
.msg_body { display: block; width: 460px; }
.msg { font-size: 14px; }

iframe { width: 100%; height: 500px;}